[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
ipdb = "*"
ipython = "*"
pytest = "*"
click = "*"
pysimplegui = "*"
scipy = "*"
pyqt5 = "*"
pyqtgraph = "*"
qt-material = "*"
seaborn = "*"
openpyxl = "*"
scikit-learn = "*"

[dev-packages]
pylint = "*"
ipykernel = "*"

[requires]
python_version = "3.9"
