[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
ipdb = "*"
ipython = "*"
pytest = "*"
click = "*"
pysimplegui = "*"
scipy = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
